#!/bin/bash
/usr/bin/php -f {{ vhost_document_root  }}/install.php -- --license_agreement_accepted yes --skip_url_validation {{ magento_skip_url_validation }} --locale {{ magento_locale }} --timezone {{ magento_timezone }} --default_currency {{ magento_currency }} --db_host {{ magento_db_host  }} --db_name {{ magento_db_name }} --db_user {{ magento_db_user }} --db_pass {{ magento_db_password }} --db_prefix {{ magento_db_prefix }} --url {{ magento_baseurl }} --use_rewrites {{ magento_rewrites }} --use_secure {{ magento_secure }} --use_secure_admin {{ magento_secure_admin  }} --secure_base_url {{ magento_secure_baseurl }} --use_secure_admin {{ magento_secure_admin }} --admin_lastname {{ magento_admin_lastname }} --admin_firstname {{ magento_admin_firstname }} --admin_email {{ magento_admin_email }} --admin_username {{ magento_admin_username }} --admin_password {{ magento_admin_password }} --encryption_key {{ magento_encryption_key }}
